/* For moblie screens */
@media (max-width: 600px) {
    .btn{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5px;
    }
}

.mainContent {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.event {
    margin-bottom: 5px;
}

.org {
    margin-bottom: 5px;
}