.btn{
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 15px;
    background-color: #BF3100;
    color: #FFFFFF;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.col{
    float: left;
    width: 30%;
}

.orgs{
    margin-left: 5%;
    width:100%;
}

.header_bar{
    background-color: rgb(240, 240, 240);
}

/* For moblie screens */
@media (max-width: 600px) {
    .btn{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5px;
    }
}