body {
  background-color: #FFFFFF;
  color: #181818;
  font-family: Consolas;
  font-size: 20px;
  text-align: center;
}

.index-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-body {


}

.login-dialog-box {
  height: 100%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #282828;
  color: #FFFFFF;
}

.register-dialog-box {
  height: 100%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #282828;
  color: #FFFFFF;
}

.text-box {
  border: 0;
  border-radius: 10px;
  padding: 15px;
  background-color: #181818;
  color: #FFFFFF;
}

.btn {
  margin-top: 15px;
  background-color: #BF3100;
  color: #FFFFFF;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  -webkit-transform: scale(1.2);
    transform: scale(1.1);
}

.btn:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.15);
}

.temp-user-info {
  word-wrap: break-word;
  width: 100%;
  margin-top: 10px;
  background-color: #F1DEDE;
  font-size: 15px;
}