body {
  margin: 0;
  background-color: #eeeeee;
  color: #181818;
  font-size: 20px;
  text-align: center;
}

.header {
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 6px solid #eeeeee;
}

.headerLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.headerRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.25em;
  padding-right: 2%;

}

.wuhubLogo {
  scale: 0.3;
  margin-left: -15%;
}
