.mainContent {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}

.mainContentLeft {
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContentRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 30%;
  margin-bottom: 2px;
}