.mainContent {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .backToLandingBtn {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

.currentOrgsBox {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addOrgBox {
    background-color: #fafafa;
    border-radius: 15px;
    padding: 40px;
    width: 30%;
}

.org {
    margin-right: 5px;
    margin-bottom: 5px;
}